html{
    font-size: 100%;
}


body {
    background-color: rgb(31, 29, 29);
    padding: 2%;
    /* margin: 25px 50px 75px 100px; */
    font-family: 'Courier New', Courier, monospace;
}
main{
    margin: auto;
    width: 70%;
    /* padding: 25px 50px 75px 100px; */
}

header {
    align-items: center;
    background: grey;
    color: white;
    position:relative;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}

header.figure{
    position: absolute;
    right: 10%;
}

.picture{
    height: 280px;
    width: 250px;
    border-radius: 100%;
    border: 1px solid white;
}

button {
    background-color: black;
    color: white;
    border-color: white;
}

#specialButton {
    background-color: dodgerblue;
}

.blue {
    background-color: rgb(38, 10, 136);
}

button:hover {
    background-color: yellowgreen;
}

h2 {
    background-color: rgb(38, 10, 136);
    color: white;
    border-color: white;
    width: 25%;
    float: left;
}

footer {
    background-color: rgb(38, 10, 136);
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%; 
    color: grey;
    text-align: center;
}

section {
    background-color: grey;
}
p, div{
    background-color: grey;
    text-align: center;
    color: white;
    padding-bottom: 10px;
}
a:link, a:visited {
        background-color: rgb(38, 10, 136);
        color: white;
        padding: 15px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      
      a:hover, a:active {
        background-color: yellowgreen;
      }
}

#myPortfolio {
    position: relative;

}

.portfolioMainBlock{
    width: 85%;
    padding: 1rem;
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    background-image: url(./images/honeycomb.jpg);
    width: 25%;
    height: 150px;
    padding: 1rem;
    margin: 2rem;
    font-size: 1rem;
    z-index: 0;
}

.project:hover{
    
    width: 25%;
    height: 250px;
    z-index: 2;
    transition: 1s;
}

.project figure h3 {
    position: absolute;
    border-style: outset;
    border-color: white;
    border-width: .25rem;
    padding: .1rem;
    border-radius: 5%;
}

h1, h2 {
   border-left: medium solid rgb(224, 231, 224);
}

ul {
list-style-type: none;
}

.clearfix {
    overflow: auto;
}